.navbar {
    padding-bottom: 0px;
}

.navbar-brand {
    background: rgb(157, 141, 245);
    padding-left: 10px;
    padding-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.nav-link {
    margin-left: 10px;
}

.final-nav-item {
    margin-right: 50px;
}

img {
    width: 95%;
    height: 95%;
}

.visualization {
    width: 50%;
    height: 75%;
    float: left;
    margin-right: 20px;
}

section {
    background: rgba(157, 141, 245, 0.2);
    padding: 20px;
}

aside {
    background: rgba(157, 141, 245, 0.2);
    padding: 20px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(52, 41, 112);
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.active-state {
    border: 3px solid #008080;
}

/* Adding media query for navbar on small screens */
@media (max-width: 768px) {
    .bg-light,
    .navbar-light,
    .navbar,
    .navbar-expand-lg {
        background-color: rgb(157, 141, 245) !important;
    }
}